body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* font keseluruhan */
    text-align: center;
    background-color: #fff8f0;/* warna latar belakang page */
}


.title{ /*banner atas*/
    display: flex; /* susun elemen secara horizontal */
	background-color: #1e6091;
	color: #f4d06f;
	padding: 0.5px;
	text-align: left;
    justify-content: center;
}

.title-text{ /* Tajuk teks */
  flex-direction: column; /* h1 dan h2 atas-bawah */
  justify-content: center;
  margin-right: 90px; 
}

.title img{ /* Gambar icon dalam banner */
    justify-content: center;
    margin-left: 10px;
}

.title h1{ /* Tajuk utama */
  color: #f4d06f;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 50px;
  margin-bottom: 2px;

}

.title h3{
  color: #f4d06f;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  font-size: 30px;
  margin-top: 0; 
}


.retrieve {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

/*nav yg banner*/
nav {
    background-color: #1e6091;
    padding: 1rem; /*gap between grid set*/
    display: flex;
    justify-content: center;
    gap: 0rem;
    position: relative; /*default kedudukan asal*/
}

/*perkataan nav (home,plan trip....)*/
nav a {
    display: flex;
    border-radius: 5px;
    color: #f4d06f;
    margin-right: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px; /* sama dengan hover */
    padding: 5px 5px; /* sama dengan hover */
    transition: background-color 0.2s, color 0.2s;;
}


/*bila hover kt banner*/
nav a:hover {
    background-color: #f4d06f;
    border-radius: 5px;
    color: #1e6091;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 20px;
    text-decoration: none;
    padding: 5px 5px;
}


input, textarea { /*kotak input*/
  padding: 10px;
  border: 5px solid #1e6091;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 2%;
  width: 250px;
}

button {
  background-color: #1e6091;
  font-weight: 500;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(255, 255, 255); /*Tulisan kt butang*/
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  background-color: #f4d06f;
  color: #1e6091;
}

#result { /* Result div selepas search */
  margin-top: 20px;
  background-color: #f4d06f;
  border :#1e6091;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);  /* shadow */
}

#itineraryBtn { /* Button plan your trip kt home */
  margin-left: 45% ;
  margin-top: 2%;
}

.container { /* Container flex untuk weather dan recommendation box */
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
  margin-top: 20px;
}

.box {
  background-color: #f4d06f;
  border: 3px solid #1e6091;
  border-radius: 10px;
  padding: 20px;
  min-height: 250px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  text-align: left;
  
}

.weatherBox { /* Box untuk weather */
  width: 250px;/* kotak untuk weather details*/
}

.weatherContent {
  display: flex;
  align-items: center;
  gap: 20px;
}

.weatherIcon {
    flex: 1;
}

.weatherInfo {
  flex: 2;
}

#recommendation { /* Recommendation box */
  width: 300px;
  color: #1e6091; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  text-align: left;
}

.innerBox { /* inner box dalam recommendation */
    background-color: #f4d06f;
    border: 3px solid #1e6091;
    border-radius: 10px;
    padding: 20px;
    min-height: 250px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    text-align: left;
}

/* textarea untuk plan */
#planInput {
  width: 220px; 
  margin-top: 10px;
}

#itineraryList { /* grid utk itinerary list */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.itinerary-card { /* Setiap box itinerary */
  border: 3px solid #1e6091;
  border-radius: 8px;
  padding: 15px;
  background: #1e6091;
  margin-bottom: 20px;
  min-height: 250px
  
}

.itinerary-left {
  background: #f4d06f; /* kotak kuning lembut */
  padding: 10px;
  border-radius: 6px;
  border: 3px solid #1e6091;
  min-height: 450px;
}

.itinerary-card h3 { /* tajuk */
  margin-top: 0;
  color: #1e6091;
  
}

.itinerary-card button { /* Button dalam itinerary card */
  margin-top: 10px;
  padding: 6px 12px;
  border-radius: 4px;
  background: #2392e7;
  color: white;
  cursor: pointer;

}
.itinerary-card button:hover {
  background:#87bbff;
  color: #1e6091;
}

.weather-layout { /* general layout untuk weather + forecast */
  align-items: center;
  display: flex;
}

.weather-card {
  background-color: #1e6091;
  padding: 15px;
  border-radius: 8px;
  margin: 10px auto;
  width: 500px;
  height: 307px;
  text-align: center;
}

.forecast-row { /* row untuk forecast 3 hari */
  display: flex ;
  justify-content: center; 
  gap: 15px;                  
}

.forecast-item { /* item forecast */
  background-color: #f4d06f;
  border-radius: 6px;
  padding: 10px;
  flex: 1;                       
  text-align: center;
  height: 200px;
}

.forecast-banner{
  background-color: #f4d06f;
  border-radius: 6px;
  padding:1px;
  flex: 1;           
  text-align: center;
}

.forecast-card{ /* card utk forecast 3 hari */
  background-color: #1e6091;
  padding: 15px;
  border-radius: 8px;
  margin: 10px auto;
  width: 500px;
  text-align: center;

}

.no-plan{ /*no save punya*/
  text-align: center;      
  font-size: 20px;    
  font-weight: bold;      
  color: #1e6091;
  margin-top: 20px;         /* jarak dari atas */
}